#total {
    margin-top:2%;
    margin-left:75%;
}

.dpdn {
    float:right;
    margin-top:2%;
    margin-right:8%;
}

#btn-appointments-container {
    float:right;
    margin:2%;
}

#span-error {
    color:#e00000;
    font-size:80%;
}