
.customCol {
    background-color: white

}

/*css to write on image*/
.centered-text {
    position: absolute;
    top: 30%;
    left: 5%;
  
  }

  h3{
      font-size:1rem;
  }

  .alert{
      font-size:12px;
  }


.label{
    font-size:10px;
}