
@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,600&display=swap');

.fill {
  height: 100vh;
}

.img-background{
  height: 100vh;
  width: 100%;
}

.main-container{
  position: absolute;
  top: 5%;
  left: 5%;
  right: 5%;
  bottom: 5%;
}

.white{
  background-color: whitesmoke;
  }

h1{
  font-family: 'Oswald';
  text-decoration:none !important;
}