#buttonDropdownMenu {
    width:180px !important;
    font-size: 90%;
}

.dropdown-content {
  background-color: #f9f9f9;
  width:180px;
  position:absolute;
  z-index:99999;
}

.dropdown-content div {
  color: black;
  padding: 5%;
  text-decoration: none;
  display: block;
  font-size: 90%;
}

.dropdown-content div:hover {background-color: #f1f1f1}